@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Thiago Vinícius</h1>
    <span>thiago.vsilva@al.infnet.edu.br</span>
    

    <div class="d-flex flex-row justify-content-center mt-5">
        <div class="p-2 mt-0">
            <h2>Software como serviço (SaaS)</h2>
            <p>Também chamados de softwares baseados na Web, softwares sob demanda ou softwares hospedados. 
                É um modelo de distribuição de software no qual os fornecedores de software hospedam 
                aplicativos em seus próprios servidores e os disponibilizam aos usuários pela Internet. 
                Ou seja, os usuários não precisam instalar softwares em seus próprios computadores ou servidores, 
                mas podem acessá-los por meio de um navegador da Web ou de um aplicativo dedicado.</p>
            <p>Um exemplo seria o Trello e o KanbanFlow</p>
        </div>
        <div class="p-2">
            <h2>Plataforma como serviço (PaaS)</h2>
            <p>É um modelo de distribuição de software que fornece uma plataforma completa para desenvolver, 
                testar e implantar aplicativos pela Internet. Em outras palavras, 
                é uma plataforma em nuvem que permite aos desenvolvedores criar 
                e executar aplicativos sem se preocupar com a infraestrutura subjacente.</p>
            <p>Um exemplo seria o Microsoft Azure</p>
        </div>
        <div class="p-2">
            <h2>Infraestrutura como serviço (IaaS)</h2>
            <p>É um modelo de distribuição de software que fornece acesso a recursos de computação, armazenamento e rede na nuvem. 
                Em outras palavras, 
                é um serviço em nuvem que permite às empresas criar e 
                gerenciar sua própria infraestrutura de TI sem a necessidade de adquirir e manter servidores físicos e outros equipamentos.</p>
            <p>Um exemplo seria o Amazon Web Services (AWS)</p>
        </div>
    </div>
</div>



